@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--header--*/


header {
    background-color:#020912;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 96px;
}

header a {
    text-decoration: none;
}

header a h1 {
    font-family: cursive;
    color: #C0D966;
    font-size: 36px;
}

header a h1 span {
    color: #F27979;
}

header nav ul {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-flex;
}

header nav ul li {
    margin: 24px;
}

header nav ul li a {
    text-decoration: none;
    color: #C0D966;
}

header nav ul li a:hover {
    color: #F27979;
}

/*--main--*/
/*-----hero-----*/
.hero {
    background-image: url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh - 114px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero p {
    background-color: #05142688;
    color: #C0D966;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 96px;
    padding: 10px;
    border-radius: 5px;
}

/*-----filosofia-----*/

.filosofia {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 160px;
}

.filosofia h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: medium;
    font-weight: 500;
    text-transform: uppercase;
    color: #C0D966;
}

.filosofia p {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    color: #814BA6;
}

main section a {
    text-decoration: none;
    color: #C0D966;
    background-color: #814BA6;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: medium;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 25px 12px 25px;
    border-radius: 5px;
}

main section a:hover:hover {
    color: #F27979;
}

/*-----proyectos-----*/

.proyectos {
    padding: 48px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 32px;
    row-gap: 116px;
    grid-template-areas:
        "imagen imagen texto"
        "texto2 imagen2 imagen2"
    ;
    object-fit: cover;
}

.primer-item {
    grid-area: imagen;
}

.segundo-item {
    grid-area: texto;
}

.tercer-item {
    grid-area: texto2;
}

.cuarto-item {
    grid-area: imagen2;
}

.proyectos div img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.proyectos div h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: medium;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    color: #68696b;
}

.proyectos div h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    color: #1a1b1f;
}

.proyectos div p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #68696b;
    margin: 24px 0;
}

/* aranceles */

.aranceles {
    background-color: #F27979;
    background-position: center;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 140px;
}

.aranceles div {
    padding: 32px 8px;
}

.aranceles h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-style: medium;
    font-weight: 500;
    color: #C0D966;
    padding: 16px;

}

.aranceles p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    color: #051426;
}


/* boton*/

.final h3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.form-control {
    height: 40px;
    width: 300px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #814BA6;
    text-align: center;
    border-radius: 5px;
    border-color:#F27979;
}

/* pages inscripción */

.contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 0;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.contacto div :nth-child(5) {
    margin: 16px 0;
}

.contacto div textarea {
    background-color: #898a8b13;
}

.contacto div h3 {
    font-size: 14px;
    font-style: medium;
    font-weight: 500;
    text-transform: uppercase;
    color: #68696b;
    margin-top: 40px;
    text-align: center
}

.contacto div p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #051426;
    text-align: center;
    padding-top: 20px;
}

.contacto div iframe {
    width: 100%;
    height: 240px;
}

.contacto div button {
    background-color: #814BA6;
    border-color: #814BA6;
    color: #C0D966;
}

.margen {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 0;
}

.margen2 {
    font-family: cursive;
    font-weight: 500;
    
}


.input-group-text {
    background-color: #814BA6;
    line-height: 25px;
    color: #C0D966;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.form-floating{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    color: #F27979;
    text-align: center;
}


/*--foother--*/

footer {
    background-color: #020912;
    background-position: center;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* media */

@media screen and (max-width:830px) {
    .proyectos {
        grid-template-columns: 1fr;
        grid-template-areas:
            "imagen"
            "texto"
            "imagen2"
            "texto2"
        ;
    }

    header {
        flex-direction: column;
        height: 100%;
    }

    header nav ul {
        padding: 0;
    }

    .contacto {
        flex-direction: column;
        padding: 48px 0;
    }

    .contacto div h3 {
        text-align: center;
        margin-top: 24px;
    }
}

@media screen and (max-width:760px) {

    .filosofia {
        padding: 180px 80px;
    }
}

@media screen and (max-width:570px) {
    header nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
        text-align: center;
        padding: 0 32px;
    }

    .proyectos {
        grid-template-rows: 100px 350px 100px 350px;
    }

    .proyectos div p {
        font-size: 15px;
    }

    .filosofia p {
        font-size: 28px;
        line-height: 42px
    }
}

@media screen and (max-width:400px) {
    header nav ul {
        flex-direction: column;
        text-align: center;
    }

    .filosofia p {
        font-size: 24px;
        line-height: 36px
    }

}